# KDE Config File
[Desktop Entry]
Name=KRemoteControl Notifier Item
Name[en_GB]=KRemoteControl Notifier Item
Name[es]=Elemento notificador de KRemoteControl
Name[nb]=Identifikasjon for fjernkontroll
Name[nl]=KRemoteControl meldingsitem
Name[nn]=Fjernkontroll-identifikator
Name[pt]=Item de Notificação do KRemoteControl
Name[pt_BR]=Item de notificação do KRemoteControl
Name[sv]=Underrättelseobjekt för Kremotecontrol
Name[th]=รายการตัวแจ้งให้ทราบของตัวควบคุมระยะไกล-K
Name[uk]=Пункт сповіщення KRemoteControl
Name[x-test]=xxKRemoteControl Notifier Itemxx
Name[zh_TW]=KRemoteControl 通知項目
Exec=krcdnotifieritem
Icon=krcd
Type=Application
Terminal=false

X-DBUS-StartupType=Unique


