# KDE Config File
[Desktop Entry]
Name=KRemoteControl Notifier Item
Name[ar]=عنصر منبه KRemoteControl
Name[bs]=Izvještavačka stavka K daljinskog upravljača
Name[ca]=Element notificador del KRemoteControl
Name[ca@valencia]=Element notificador del KRemoteControl
Name[cs]=Položka oznámení KRemoteControl
Name[da]=KRemoteControl bekendtgørelseselement
Name[de]=Fernsteuerungs-Benachrichtigungs-Dienst
Name[el]=Αντικείμενο ειδοποίησης KRemoteControl
Name[en_GB]=KRemoteControl Notifier Item
Name[es]=Elemento notificador de KRemoteControl
Name[et]=KDE kaugjuhtimise märguandeelement
Name[eu]=KRemoteControl jakinarazpen elementua
Name[fi]=KRemoteControl-ilmoitusalkio
Name[fr]=Élément de l'outil de notification KRemoteControl
Name[ga]=Mír Fhógartha KRemoteControl
Name[gl]=Elemento de notificación de KRemoteControl
Name[hr]=Stavka KRemoteControl-ovog glasnika
Name[hu]=KRemoteControl értesítő elem
Name[ia]=Elemento notificator de KRemoteControl
Name[id]=Item Notifikasi KRemoteControl
Name[it]=Elemento di notifica telecomandi
Name[kk]=KRemoteControl құлақтандыру бабы
Name[km]=ធាតុ​ជូនដំណឹង​របស់ KRemoteControl
Name[ko]=KRemoteControl 알림 항목
Name[lt]=KRemoteControl pranešėjo elementas
Name[lv]=KRemoteControl paziņojuma vienība
Name[mr]=के-रीमोट-कंट्रोल सूचक घटक
Name[nb]=Varslingselement for KRemoteControl
Name[nds]=Bescheden-Element för KDE-Feernbedenen
Name[nl]=KRemoteControl meldingsitem
Name[nn]=Fjernkontroll-identifikator
Name[pa]=ਕੇਰਿਮੋਟਕੰਟਰੋਲ ਨੋਟੀਫਾਇਰ ਆਈਟਮ
Name[pl]=Element powiadamiający KRemoteControl
Name[pt]=Item de Notificação do KRemoteControl
Name[pt_BR]=Item de notificação do KRemoteControl
Name[ro]=Element de notificare KRemoteControl
Name[ru]=Элемент уведомления KRemoteControl
Name[sk]=KRemoteControl položka upozornenia
Name[sl]=Obvestilo od KRemoteControl
Name[sr]=Извештавачка ставка К‑даљинског-управљача
Name[sr@ijekavian]=Извештавачка ставка К‑даљинског-управљача
Name[sr@ijekavianlatin]=Izveštavačka stavka K‑daljinskog-upravljača
Name[sr@latin]=Izveštavačka stavka K‑daljinskog-upravljača
Name[sv]=Underrättelseobjekt för Kremotecontrol
Name[th]=รายการตัวแจ้งให้ทราบของตัวควบคุมระยะไกล-K
Name[tr]=KRemoteControl Bildirim Ögesi
Name[ug]=KRemoteControl بىلدۈرگۈ تۇرى
Name[uk]=Пункт сповіщення KRemoteControl
Name[x-test]=xxKRemoteControl Notifier Itemxx
Name[zh_CN]=KRemoteControl 通知项
Name[zh_TW]=KRemoteControl 通知項目
Exec=krcdnotifieritem
Icon=krcd
Type=Application
Terminal=false
NoDisplay=true

X-DBUS-StartupType=Unique


