# KDE Config File
[Desktop Entry]
Name=KRemoteControl Notifier Item
Name[en_GB]=KRemoteControl Notifier Item
Name[es]=Elemento notificador de KRemoteControl
Name[pt]=Item de Notificação do KRemoteControl
Name[sv]=Underrättelseobjekt för Kremotecontrol
Name[uk]=Пункт сповіщення KRemoteControl
Name[x-test]=xxKRemoteControl Notifier Itemxx
Exec=krcdnotifieritem
Icon=krcd
Type=Application
Terminal=false

X-DBUS-StartupType=Unique


