[Desktop Entry]
Name=KRemote Control Applet
Comment=Applet to control the kremotecontrol daemon
Type=Service
ServiceTypes=Plasma/Applet
Icon=hisc-app-krcd

X-KDE-Library=plasma_applet_kremotecontrol
X-KDE-PluginInfo-Author=Frank Scheffold
X-KDE-PluginInfo-Email=fscheffold@googlemail.com
X-KDE-PluginInfo-Name=kremotecontrol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-PlasmoidCategory=System Information

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Optional
X-Plasma-NotificationArea=true

