[Desktop Entry]
Name=K Remote Control Daemon
Name[ca]=Dimoni K de comandaments a distància
Name[ca@valencia]=Dimoni K de comandaments a distància
Name[da]=Dæmon til K Remote Control
Name[de]=Fernsteuerungsdienst für KDE
Name[en_GB]=K Remote Control Dæmon
Name[es]=Demonio de mandos a distancia para K
Name[fr]=Démon pour K Remote Control
Name[id]=Daemon K Remote Control
Name[kk]=Қашықтан басқару K-қызметі
Name[km]=ដេមិន​វត្ថុ​បញ្ជា K Remote
Name[nb]=K Remote Control Daemon
Name[nds]=KDE-Feernbedeendämoon
Name[nl]=K Remote Control-daemon
Name[nn]=Fjernkontrollar
Name[pt]=Servidor de Comandos à Distância do KDE
Name[pt_BR]=Daemon de Controles Remotos do KDE
Name[ro]=Demon de telecomandă K
Name[sr]=КДЕ демон даљинских управљача
Name[sr@ijekavian]=КДЕ демон даљинских управљача
Name[sr@ijekavianlatin]=KDE demon daljinskih upravljača
Name[sr@latin]=KDE demon daljinskih upravljača
Name[sv]=Demon för Kremotecontrol
Name[th]=ดีมอนตัวควบคุมระยะไกล-K
Name[tr]=KRemote Denetim Hizmeti
Name[uk]=Фонова служба дистанційного керування
Name[x-test]=xxK Remote Control Daemonxx
Name[zh_CN]=K 远程控制守护程序
Name[zh_TW]=KDE 遠端遙控守護程式
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kremotecontroldaemon
X-KDE-DBus-ModuleName=krcd
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
OnlyShowIn=KDE;
