[Desktop Entry]
Name=K Remote Control Deamon
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kremotecontrol
X-KDE-DBus-ModuleName=kremotecontrol
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
OnlyShowIn=KDE;
