[Desktop Entry]
Icon=infrared-remote
Exec=kcmshell4 kcm_lirc

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_lirc
X-KDE-FactoryName=kcm_lirc
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=computer-administration
X-DocPath=kcmlirc/index.html
Categories=Qt;KDE;X-KDE-settings-system;

X-KDE-Keywords=KCMLirc,kcmlirc
X-KDE-Keywords[nl]=kcmlirc,linux infrarood,infrarood,afstandsbediening
X-KDE-Keywords[pl]=KCMLirc,kcmlirc,piloty,podczerwień
X-KDE-Keywords[ta]= KCMLirc,kcmlirc
X-KDE-Keywords[uz]=KCMLirc,kcmlirc,инфрақизил нур
X-KDE-Keywords[x-test]=xxKCMLirc,kcmlircxx


Name=Remote Controls
Name[de]=Fernbedienungen
Name[pt]=Comandos à Distância
Name[pt_BR]=Comandos à Distância
Name[sv]=Fjärrkontroller
Name[tr]=Uzaktan Denetim
Name[uk]=Елементи дистанційного керування
Name[zh_TW]=遙控鍵

Comment=Configure your remote controls for use with applications
Comment[pt]=Configure os seus comandos à distância para os usar com as aplicações
Comment[pt_BR]=Configure os seus comandos à distância para os usar com as aplicações
Comment[sv]=Anpassa fjärrkontroller för att använda med program
Comment[tr]=Uygulamalar için kullanacağınız uzaktan denetimleri yapılandırın
Comment[uk]=Налаштування елементів дистанційного керування для використання з програмами
Comment[zh_TW]=設定您要啟動應用程式的遙控鍵
