[Desktop Entry]
Icon=infrared-remote
Exec=kcmshell4 kcm_lirc

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_lirc
X-KDE-FactoryName=kcm_lirc
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=computer-administration
X-DocPath=kcmlirc/index.html
Categories=Qt;KDE;X-KDE-settings-system;

X-KDE-Keywords=KCMLirc,kcmlirc
X-KDE-Keywords[nl]=kcmlirc,linux infrarood,infrarood,afstandsbediening
X-KDE-Keywords[pl]=KCMLirc,kcmlirc,piloty,podczerwień
X-KDE-Keywords[ta]= KCMLirc,kcmlirc
X-KDE-Keywords[uz]=KCMLirc,kcmlirc,инфрақизил нур
X-KDE-Keywords[x-test]=xxKCMLirc,kcmlircxx


Name=Remote Controls
Name[ar]=التحكّم عن بعد
Name[cs]=Dálková ovládání
Name[cy]=Rheolyddion Pell
Name[de]=Fernsteuerungen
Name[eo]=Teleregiloj
Name[es]=Mandos a distancia
Name[et]=Kaugjuhtimine
Name[eu]=Urruneko Aginteak
Name[fa]=کنترلهای از راه دور
Name[fi]=Kauko-ohjaimet
Name[ga]=Cianrialtáin
Name[he]=שליטה מרחוק
Name[hu]=Távirányító
Name[is]=Fjarstýringar
Name[kk]=Қашықтан басқару
Name[lt]=Nuotolinis valdymas
Name[mk]=Далечински управувачи
Name[nb]=Fjernkontroll
Name[nds]=Feernbedeners
Name[ne]=टाढाको नियन्त्रण
Name[nl]=Afstandsbediening
Name[nn]=Fjernkontrollar
Name[pt]=Comandos à Distância
Name[pt_BR]=Controles remotos
Name[ro]=Telecomenzi
Name[sl]=Daljinski upravljalci
Name[sv]=Fjärrkontroller
Name[ta]=  தொலைதூர கட்டுப்பாடுகள்
Name[tg]=Идоракунии Дурдаст
Name[tr]=Uzaktan Kontroller
Name[uk]=Елементи дистанційного керування
Name[vi]=Các Điều Khiển Từ Xa
Name[zh_CN]=远程控制
Name[zh_TW]=遙控鍵

Comment=Configure your remote controls for use with applications
Comment[ar]=إعداد التحكّم عن بعد لاستخدامه في التطبيقات
Comment[cs]=Nastavení dálkových ovladačů
Comment[cy]=Ffurfweddu eich rheolyddion pell ar gyfer ddefnydd efo cymhwysiadau
Comment[de]=Einrichtung diverser Applikationen zur Bedienung mit einer Fernsteuerung
Comment[es]=Configurar sus mandos a distancia para usar con las aplicaciones
Comment[et]=Kaugjuhtimise seadistamine rakenduste jaoks
Comment[eu]=Konfiguratu zure urruneko kontrolak aplikazioekin erabiltzeko
Comment[fa]=برای استفاده با کاربردها، کنترلهای از راه دورتان را پیکربندی کنید
Comment[fi]=Muokkaa kauko-ohjaimesi toimimaan ohjelmien kanssa
Comment[he]=הגדרת שלט רחוק לשימוש ביישומים
Comment[hu]=Az infravörös távirányítók jellemzői
Comment[is]=Her má stilla fjarstýringar ýmissa forrita
Comment[kk]=Қашықтан басқаруды қолданбалармен қолдану үшін баптау
Comment[lt]=Nuotolinio valdymo programomis konfigūravimas
Comment[mk]=Конфигурирајте ги вашите далечински управувачи за користење со апликации
Comment[nb]=Sett opp fjernkontrollene for bruk med programmer
Comment[nds]=Feernbedeners för den Bruuk mit Programmen instellen
Comment[ne]=अनुप्रयोगसँग प्रयोग गर्न तपाईंको टाढाको नियन्त्रण कन्फिगर गर्नुहोस्
Comment[nl]=Uw afstandsbedieningen instellen voor gebruik in KDE
Comment[nn]=Set opp bruken av fjernkontroll i ulike program
Comment[pt]=Configure os seus comandos à distância para os usar nas aplicações
Comment[pt_BR]=Configure seus controles remotos para o uso com aplicativos
Comment[ro]=Configurează telecomneziile de utilizat cu aplicaţii
Comment[sl]=Nastavite vaš daljinski upravljalnik za uporabo v programih
Comment[sv]=Anpassa fjärrkontroller för att använda med program
Comment[ta]=பயன்பாடுகளுடன் பயன்படுத்த தொலைதூர கட்டுப்பாடுகளை வடிவமை
Comment[tg]=Ба воситаи замимаҳо танзимкунии идоракунии дурдасти шумо
Comment[tr]=Uzaktan kontrol ayarlarınızı uygulamalarla kullanmak için ayarla
Comment[uk]=Налаштування елементів дистанційного керування для використання з програмами
Comment[vi]=Cấu hình điều khiển từ xa để dùng với các ứng dụng 
Comment[zh_TW]=設定您要啟動應用程式的遙控鍵
