[Desktop Entry]
Icon=irkick
Exec=kcmshell4 kcmlirc

Type=Service
X-KDE-ServiceType=KCModule
X-KDE-Library=kcm_lirc
X-DocPath=kcmlirc/index.html
Categories=Qt;KDE;X-KDE-settings-peripherals;


X-KDE-Keywords=KCMLirc,kcmlirc
X-KDE-Keywords[nl]=kcmlirc,linux infrarood,infrarood,afstandsbediening
X-KDE-Keywords[pl]=KCMLirc,kcmlirc,piloty,podczerwień
X-KDE-Keywords[ta]= KCMLirc,kcmlirc
X-KDE-Keywords[uz]=KCMLirc,kcmlirc,инфрақизил нур
X-KDE-Keywords[x-test]=xxKCMLirc,kcmlircxx


Name=Remote Controls
Name[es]=Controles remotos
Name[et]=Juhtimispult
Name[sv]=Fjärrkontroller

Comment=Configure your remote controls for use with applications
Comment[es]=Configura sus controles remotos para utilizarlos con las aplicaciones
Comment[et]=Juhtimispuldi seadistamine rakendustega kasutamiseks
Comment[sv]=Anpassa fjärrkontroller för att använda med program
