[Desktop Entry]
Icon=irkick
Exec=kcmshell4 kcmlirc

Type=Service
X-KDE-ServiceType=KCModule
X-KDE-Library=kcm_lirc
X-DocPath=kcmlirc/index.html
Categories=Qt;KDE;X-KDE-settings-peripherals;


X-KDE-Keywords=KCMLirc,kcmlirc
X-KDE-Keywords[nl]=kcmlirc,linux infrarood,infrarood,afstandsbediening
X-KDE-Keywords[pl]=KCMLirc,kcmlirc,piloty,podczerwień
X-KDE-Keywords[ta]= KCMLirc,kcmlirc
X-KDE-Keywords[uz]=KCMLirc,kcmlirc,инфрақизил нур
X-KDE-Keywords[x-test]=xxKCMLirc,kcmlircxx


Name=Remote Controls
Name[cs]=Dálková ovládání
Name[de]=Fernbedienungen
Name[el]=Τηλεχειριστήρια
Name[es]=Controles remotos
Name[et]=Juhtimispult
Name[fr]=Télécommandes
Name[ga]=Cianrialtáin
Name[gl]=Controis remotos
Name[km]=កា​រត្រួតពិនិត្យ​ពី​ចម្ងាយ
Name[ko]=리모콘
Name[nds]=Feernbedenen
Name[pa]=ਰਿਮੋਟ ਕੰਟਰੋਲ
Name[pt]=Comandos à Distância
Name[pt_BR]=Comandos à Distância
Name[ro]=Telecomenzi
Name[sv]=Fjärrkontroller
Name[tr]=Uzaktan Denetim
Name[uk]=Елементи дистанційного керування
Name[x-test]=xxRemote Controlsxx

Comment=Configure your remote controls for use with applications
Comment[el]=Ρυθμίστε τα τηλεχείριστηριά σας για χρήση τους με εφαρμογές
Comment[es]=Configura sus controles remotos para utilizarlos con las aplicaciones
Comment[et]=Juhtimispuldi seadistamine rakendustega kasutamiseks
Comment[fr]=Configurez votre télécommande pour manipuler les applications
Comment[ga]=Cumraigh do chuid cianrialtán chun iad a úsáid le feidhmchláir
Comment[gl]=Configura os controis remotos para seren usados polos programas
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​ត្រួតពិនិត្យ​ពី​ចម្ងាយ​សម្រាប់​ប្រើ​ជា​មួយ​កម្មវិធី
Comment[ko]=프로그램에 사용할 리모콘을 설정합니다
Comment[nds]=Dien Feernbedenen för den Bruuk mit Programmen instellen
Comment[pa]=ਆਪਣੇ ਰਿਮੋਟ ਕੰਟਰੋਲ ਨੂੰ ਐਪਲੀਕੇਸ਼ਨ ਨਾਲ ਵਰਤਣ ਲਈ ਸੰਰਚਿਤ ਕਰੋ
Comment[pt]=Configure os seus comandos à distância para usá-los nas aplicações
Comment[pt_BR]=Configure os seus comandos à distância para usá-los nas aplicações
Comment[sv]=Anpassa fjärrkontroller för att använda med program
Comment[tr]=Uygulamalar için kullanacağınız uzaktan denetimleri yapılandırın
Comment[uk]=Налаштування елементів дистанційного керування для використання з програмами
Comment[x-test]=xxConfigure your remote controls for use with applicationsxx
