[Desktop Entry]
Icon=infrared-remote
Exec=kcmshell4 kcm_remotecontrol

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_remotecontrol
X-KDE-FactoryName=kcm_remotecontrol
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=computer-administration
X-DocPath=kremotecontrol/index.html
Categories=Qt;KDE;X-KDE-settings-system;

X-KDE-Keywords=KCMRemoteControl,remote control
X-KDE-Keywords[nl]=kcmlirc,linux infrarood,infrarood,afstandsbediening
X-KDE-Keywords[pl]=KCMLirc,kcmlirc,piloty,podczerwień
X-KDE-Keywords[ta]= KCMLirc,kcmlirc
X-KDE-Keywords[uz]=KCMLirc,kcmlirc,инфрақизил нур
X-KDE-Keywords[x-test]=xxKCMLirc,kcmlircxx


Name=Remote Controls
Name[de]=Fernbedienungen
Name[en_GB]=Remote Controls
Name[tr]=Uzaktan Denetim
Name[uk]=Елементи дистанційного керування
Name[zh_TW]=遙控鍵

Comment=Configure your remote controls for use with applications
Comment[en_GB]=Configure your remote controls for use with applications
Comment[tr]=Uygulamalar için kullanacağınız uzaktan denetimleri yapılandırın
Comment[uk]=Налаштування елементів дистанційного керування для використання з програмами
Comment[zh_TW]=設定您要啟動應用程式的遙控鍵
