[Desktop Entry]
Icon=infrared-remote
Exec=kcmshell4 kcm_remotecontrol

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_remotecontrol
X-KDE-FactoryName=kcm_remotecontrol
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=input-devices
X-DocPath=kcontrol/kremotecontrol/index.html
Categories=Qt;KDE;X-KDE-settings-system;

X-KDE-Keywords=KCMRemoteControl,remote control
X-KDE-Keywords[nl]=kcmlirc,linux infrarood,infrarood,afstandsbediening
X-KDE-Keywords[pl]=KCMLirc,kcmlirc,piloty,podczerwień
X-KDE-Keywords[ta]= KCMLirc,kcmlirc
X-KDE-Keywords[uz]=KCMLirc,kcmlirc,инфрақизил нур
X-KDE-Keywords[x-test]=xxKCMLirc,kcmlircxx


Name=Remote Controls

Comment=Configure your remote controls for use with applications
