[Desktop Entry]
Type=Service
Name=IRKick
Name[x-test]=xxIRKickxx
GenericName=KDE LIRC Server
GenericName[fr]=Serveur KDE LIRC
GenericName[x-test]=xxKDE LIRC Serverxx

X-KDE-Library=irkick
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Utility;X-KDE-Utilities-Peripherals;
X-KDE-autostart-condition=irkickrc:General:AutoStart:false

Exec=irkick
Icon=irkick
DocPath=kcontrol/kdelirc.html
Comment=KDE Linux infrared remote control server.
Comment[fr]=Serveur de contrôle distant infrarouge sous Linux pour KDE.
Comment[x-test]=xxKDE Linux infrared remote control server.xx
Encoding=UTF-8

